In [2]:
import pandas as pd
df=pd.read_csv('simple_english_wiki_pagelinks.csv')

### Подготовливаем данные
Начиная джойнить каждый "слой" ищем, где содержится ALgorithm
В итоге находим его на 4

In [34]:
df.head()

   pl_from pl_title  pl_to
0        1     1320  39168
1     7560     1320  39168
2     7873     1320  39168
3     8393     1320  39168
4     8719     1320  39168

In [35]:
an = df[df['pl_from'] == 747593]

In [36]:
an

         pl_from              pl_title  pl_to
690810    747593  Computer_programming  31531
1025226   747593                  Data   2958
1287281   747593            Statistics    789

In [37]:
lvl2 = pd.merge(an, df, how="left", left_on=['pl_to'], right_on=["pl_from"])

In [38]:
lvl2

,pl_from_x,pl_title_x,pl_to_x,pl_from_y,pl_title_y,pl_to_y
0,747593,Computer_programming,31531,31531,Computer_program,2957
1,747593,Computer_programming,31531,31531,Bibliothèque_nationale_de_France,214788
2,747593,Computer_programming,31531,31531,Library_of_Congress_Control_Number,515847
3,747593,Computer_programming,31531,31531,Integrated_Authority_File,459289
4,747593,Computer_programming,31531,31531,National_Diet_Library,235771
...,...,...,...,...,...,...
90,747593,Statistics,789,789,Sigma_Notation,403194
91,747593,Statistics,789,789,Survey,107525
92,747593,Statistics,789,789,Standard_deviation,53612
93,747593,Statistics,789,789,Standard_error,215690
94,747593,Statistics,789,789,Statistician,264867

In [39]:
lvl3 = pd.merge(lvl2, df, how="left", left_on=['pl_to_y'], right_on=["pl_from"])
lvl3[lvl3['pl_title']=='Logic']

,pl_from_x,pl_title_x,pl_to_x,pl_from_y,pl_title_y,pl_to_y,pl_from,pl_title,pl_to
128,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Logic,4069.0
239,747593,Computer_programming,31531,31531,Language,419,419.0,Logic,4069.0
1082,747593,Statistics,789,789,Science,700,700.0,Logic,4069.0

In [40]:
lvl4 = pd.merge(lvl3, df, how="inner", left_on=['pl_to'], right_on=["pl_from"])
lvl4

,pl_from_x,pl_title_x,pl_to_x,pl_from_y,pl_title_y,pl_to_y,pl_from_x,pl_title_x,pl_to_x,pl_from_y,pl_title_y,pl_to_y
0,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017
1,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Binary,45444.0,45444,Exponentiation,12285
2,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Binary,45444.0,45444,Computer,112
3,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Binary,45444.0,45444,Decimal,66498
4,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Binary,45444.0,45444,Measure,413394
...,...,...,...,...,...,...,...,...,...,...,...,...
105885,747593,Statistics,789,789,Statistician,264867,264867.0,White-collar_worker,826545.0,826545,Salary,21442
105886,747593,Statistics,789,789,Statistician,264867,264867.0,White-collar_worker,826545.0,826545,Desk,68584
105887,747593,Statistics,789,789,Statistician,264867,264867.0,White-collar_worker,826545.0,826545,Blue-collar_worker,820596
105888,747593,Statistics,789,789,Statistician,264867,264867.0,Masters_degree,701453.0,701453,Master's_degree,298513
105889,747593,Statistics,789,789,Statistician,264867,264867.0,Statistical_Process_Control,264840.0,264840,Statistical_process_control,264838

In [41]:
lvl4.columns = [1,2,3,4,5,6,7,8,9,10, 11,12]

In [42]:
lvl4[lvl4[11]=='Algorithm']

,1,2,3,4,5,6,7,8,9,10,11,12
2222,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Computer_science,110.0,110,Algorithm,170677
2303,747593,Computer_programming,31531,31531,Language,419,419.0,Computer_science,110.0,110,Algorithm,170677
2384,747593,Computer_programming,31531,31531,Instruction_(computer_science),139324,139324.0,Computer_science,110.0,110,Algorithm,170677
2465,747593,Computer_programming,31531,31531,Interpreter_(computing),71502,71502.0,Computer_science,110.0,110,Algorithm,170677
2546,747593,Statistics,789,789,Science,700,700.0,Computer_science,110.0,110,Algorithm,170677
2627,747593,Statistics,789,789,IBM,23439,23439.0,Computer_science,110.0,110,Algorithm,170677
2708,747593,Statistics,789,789,Information,3609,3609.0,Computer_science,110.0,110,Algorithm,170677
2789,747593,Statistics,789,789,Psychology,6204,6204.0,Computer_science,110.0,110,Algorithm,170677
14910,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Logic,4069.0,4069,Algorithm,170677
14941,747593,Computer_programming,31531,31531,Language,419,419.0,Logic,4069.0,4069,Algorithm,170677
14972,747593,Statistics,789,789,Science,700,700.0,Logic,4069.0,4069,Algorithm,170677
16688,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Numerical_analysis,334165.0,334165,Algorithm,170677
16748,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Numerical_analysis,334165.0,334165,Algorithm,170677
16808,747593,Statistics,789,789,MATLAB,762362,762362.0,Numerical_analysis,334165.0,334165,Algorithm,170677
17358,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Python_(programming_language),44678.0,44678,Algorithm,170677
17411,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Python_(programming_language),44678.0,44678,Algorithm,170677
17825,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17881,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17937,747593,Statistics,789,789,R_(programming_language),774203,774203.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17993,747593,Statistics,789,789,MATLAB,762362,762362.0,Programming_paradigm,368829.0,368829,Algorithm,170677
28780,747593,Computer_programming,31531,31531,Computer_memory,82076,82076.0,Code,27592.0,27592,Algorithm,170677
28795,747593,Computer_programming,31531,31531,Software_bug,61917,61917.0,Code,27592.0,27592,Algorithm,170677
40965,747593,Data,2958,2958,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,170677
40989,747593,Statistics,789,789,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,170677
73802,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,Algebra,45.0,45,Algorithm,170677
73857,747593,Statistics,789,789,Gerolamo_Cardano,103108,103108.0,Algebra,45.0,45,Algorithm,170677
78189,747593,Statistics,789,789,Division_(mathematics),56429,56429.0,Long_division,739694.0,739694,Algorithm,170677
95041,747593,Statistics,789,789,Psychology,6204,6204.0,Evolution,8740.0,8740,Algorithm,170677
104156,747593,Statistics,789,789,MATLAB,762362,762362.0,Machine_learning,564928.0,564928,Algorithm,170677
104315,747593,Statistics,789,789,Mean,32523,32523.0,Frequency_distribution,66398.0,66398,Algorithm,170677
105645,747593,Statistics,789,789,Standard_deviation,53612,53612.0,Random,14534.0,14534,Algorithm,170677

### Задание 1 и 2
Минимальный путь равен 4, для ответа на задание 2 подойдет любой из путей из столбца 8. Как вариант -- Logic

In [43]:
lvl4[lvl4[11]=='Algorithm']

,1,2,3,4,5,6,7,8,9,10,11,12
2222,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Computer_science,110.0,110,Algorithm,170677
2303,747593,Computer_programming,31531,31531,Language,419,419.0,Computer_science,110.0,110,Algorithm,170677
2384,747593,Computer_programming,31531,31531,Instruction_(computer_science),139324,139324.0,Computer_science,110.0,110,Algorithm,170677
2465,747593,Computer_programming,31531,31531,Interpreter_(computing),71502,71502.0,Computer_science,110.0,110,Algorithm,170677
2546,747593,Statistics,789,789,Science,700,700.0,Computer_science,110.0,110,Algorithm,170677
2627,747593,Statistics,789,789,IBM,23439,23439.0,Computer_science,110.0,110,Algorithm,170677
2708,747593,Statistics,789,789,Information,3609,3609.0,Computer_science,110.0,110,Algorithm,170677
2789,747593,Statistics,789,789,Psychology,6204,6204.0,Computer_science,110.0,110,Algorithm,170677
14910,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Logic,4069.0,4069,Algorithm,170677
14941,747593,Computer_programming,31531,31531,Language,419,419.0,Logic,4069.0,4069,Algorithm,170677
14972,747593,Statistics,789,789,Science,700,700.0,Logic,4069.0,4069,Algorithm,170677
16688,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Numerical_analysis,334165.0,334165,Algorithm,170677
16748,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Numerical_analysis,334165.0,334165,Algorithm,170677
16808,747593,Statistics,789,789,MATLAB,762362,762362.0,Numerical_analysis,334165.0,334165,Algorithm,170677
17358,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Python_(programming_language),44678.0,44678,Algorithm,170677
17411,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Python_(programming_language),44678.0,44678,Algorithm,170677
17825,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17881,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17937,747593,Statistics,789,789,R_(programming_language),774203,774203.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17993,747593,Statistics,789,789,MATLAB,762362,762362.0,Programming_paradigm,368829.0,368829,Algorithm,170677
28780,747593,Computer_programming,31531,31531,Computer_memory,82076,82076.0,Code,27592.0,27592,Algorithm,170677
28795,747593,Computer_programming,31531,31531,Software_bug,61917,61917.0,Code,27592.0,27592,Algorithm,170677
40965,747593,Data,2958,2958,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,170677
40989,747593,Statistics,789,789,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,170677
73802,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,Algebra,45.0,45,Algorithm,170677
73857,747593,Statistics,789,789,Gerolamo_Cardano,103108,103108.0,Algebra,45.0,45,Algorithm,170677
78189,747593,Statistics,789,789,Division_(mathematics),56429,56429.0,Long_division,739694.0,739694,Algorithm,170677
95041,747593,Statistics,789,789,Psychology,6204,6204.0,Evolution,8740.0,8740,Algorithm,170677
104156,747593,Statistics,789,789,MATLAB,762362,762362.0,Machine_learning,564928.0,564928,Algorithm,170677
104315,747593,Statistics,789,789,Mean,32523,32523.0,Frequency_distribution,66398.0,66398,Algorithm,170677
105645,747593,Statistics,789,789,Standard_deviation,53612,53612.0,Random,14534.0,14534,Algorithm,170677

In [44]:
lvl5 = pd.merge(lvl4, df, how="inner", left_on=[12], right_on=["pl_from"])
lvl5

,1,2,3,4,5,6,7,8,9,10,11,12,pl_from,pl_title,pl_to
0,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Japan,403
1,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,United_Kingdom,856
2,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,United_States,219587
3,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Mobile_phone,26786
4,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Television,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6767390,747593,Statistics,789,789,Statistician,264867,264867.0,Statistical_Process_Control,264840.0,264840,Statistical_process_control,264838,264838,Statistical,216410
6767391,747593,Statistics,789,789,Statistician,264867,264867.0,Statistical_Process_Control,264840.0,264840,Statistical_process_control,264838,264838,W._Edwards_Deming,264817
6767392,747593,Statistics,789,789,Statistician,264867,264867.0,Statistical_Process_Control,264840.0,264840,Statistical_process_control,264838,264838,Engineering_tolerance,398587
6767393,747593,Statistics,789,789,Statistician,264867,264867.0,Statistical_Process_Control,264840.0,264840,Statistical_process_control,264838,264838,Bell_curve,108923
6767394,747593,Statistics,789,789,Statistician,264867,264867.0,Statistical_Process_Control,264840.0,264840,Statistical_process_control,264838,264838,Gaussian_distribution,265080

In [45]:
lvl5[(lvl5['pl_title'] == 'Algorithm') & (lvl5[11] == 'Logic') & (lvl5[2] != 'Computer_programming')]

,1,2,3,4,5,6,7,8,9,10,11,12,pl_from,pl_title,pl_to
356752,747593,Statistics,789,789,Division_(mathematics),56429,56429.0,Programming_language,6362.0,6362,Logic,4069,4069,Algorithm,170677
356783,747593,Statistics,789,789,R_(programming_language),774203,774203.0,Programming_language,6362.0,6362,Logic,4069,4069,Algorithm,170677
356938,747593,Statistics,789,789,Science,700,700.0,Computer_science,110.0,110,Logic,4069,4069,Algorithm,170677
356969,747593,Statistics,789,789,IBM,23439,23439.0,Computer_science,110.0,110,Logic,4069,4069,Algorithm,170677
357000,747593,Statistics,789,789,Information,3609,3609.0,Computer_science,110.0,110,Logic,4069,4069,Algorithm,170677
357031,747593,Statistics,789,789,Psychology,6204,6204.0,Computer_science,110.0,110,Logic,4069,4069,Algorithm,170677
357124,747593,Data,2958,2958,Definition,207,207.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357155,747593,Data,2958,2958,Number,528,528.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357186,747593,Statistics,789,789,Science,700,700.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357217,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357248,747593,Statistics,789,789,Fraction_(mathematics),56416,56416.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357279,747593,Statistics,789,789,Division_(mathematics),56429,56429.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357310,747593,Statistics,789,789,Number,528,528.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357341,747593,Statistics,789,789,Probability_theory,63537,63537.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357372,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357403,747593,Statistics,789,789,Measurement,31735,31735.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357434,747593,Statistics,789,789,Mean,32523,32523.0,Mathematics,467.0,467,Logic,4069,4069,Algorithm,170677
357496,747593,Data,2958,2958,Word,911,911.0,Language,419.0,419,Logic,4069,4069,Algorithm,170677
357527,747593,Statistics,789,789,Word,911,911.0,Language,419.0,419,Logic,4069,4069,Algorithm,170677
357589,747593,Statistics,789,789,Politics,592,592.0,Abstract,126005.0,126005,Logic,4069,4069,Algorithm,170677
357713,747593,Data,2958,2958,Number,528,528.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
357744,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
357775,747593,Statistics,789,789,Number,528,528.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
357806,747593,Statistics,789,789,Psychology,6204,6204.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
357837,747593,Statistics,789,789,Probability_theory,63537,63537.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
357868,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
357899,747593,Statistics,789,789,Standard_deviation,53612,53612.0,Science,700.0,700,Logic,4069,4069,Algorithm,170677
358085,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Problem,40995.0,40995,Logic,4069,4069,Algorithm,170677
358116,747593,Data,2958,2958,Latin,6592,6592.0,University,884.0,884,Logic,4069,4069,Algorithm,170677
358147,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,University,884.0,884,Logic,4069,4069,Algorithm,170677
358178,747593,Data,2958,2958,Number,528,528.0,Sudoku,37723.0,37723,Logic,4069,4069,Algorithm,170677
358209,747593,Statistics,789,789,Number,528,528.0,Sudoku,37723.0,37723,Logic,4069,4069,Algorithm,170677
358240,747593,Statistics,789,789,Science,700,700.0,Lightning_rod,86924.0,86924,Logic,4069,4069,Algorithm,170677
358271,747593,Statistics,789,789,Politics,592,592.0,Debate,47025.0,47025,Logic,4069,4069,Algorithm,170677
358302,747593,Statistics,789,789,Politics,592,592.0,Aristotle,4494.0,4494,Logic,4069,4069,Algorithm,170677
358333,747593,Statistics,789,789,Category,83161,83161.0,Aristotle,4494.0,4494,Logic,4069,4069,Algorithm,170677
358364,747593,Statistics,789,789,Economics,246,246.0,Scientific_model,345676.0,345676,Logic,4069,4069,Algorithm,170677
358395,747593,Statistics,789,789,Psychology,6204,6204.0,Mind,8568.0,8568,Logic,4069,4069,Algorithm,170677
358426,747593,Statistics,789,789,Psychology,6204,6204.0,Falsifiability,146694.0,146694,Logic,4069,4069,Algorithm,170677
358457,747593,Statistics,789,789,Probability_theory,63537,63537.0,Fuzzy_logic,19980.0,19980,Logic,4069,4069,Algorithm,170677
358488,747593,Statistics,789,789,Normal_distribution,56762,56762.0,Intelligence,38080.0,38080,Logic,4069,4069,Algorithm,170677
358519,747593,Statistics,789,789,Category,83161,83161.0,Philosophy,590.0,590,Logic,4069,4069,Algorithm,170677
358550,747593,Statistics,789,789,Standard_deviation,53612,53612.0,Random,14534.0,14534,Logic,4069,4069,Algorithm,170677

In [46]:
lvl5[13] = lvl5[2]+lvl5[5]+lvl5[8]+lvl5[11]
lvl5.head(67)

,1,2,3,4,5,6,7,8,9,10,11,12,pl_from,pl_title,pl_to,13
0,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Japan,403,Computer_programmingComputer_programVideo_game...
1,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,United_Kingdom,856,Computer_programmingComputer_programVideo_game...
2,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,United_States,219587,Computer_programmingComputer_programVideo_game...
3,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Mobile_phone,26786,Computer_programmingComputer_programVideo_game...
4,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Television,1999,Computer_programmingComputer_programVideo_game...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,First-person_shooter,14989,Computer_programmingComputer_programVideo_game...
63,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Electronic_sports,26103,Computer_programmingComputer_programVideo_game...
64,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,GameCube,10821,Computer_programmingComputer_programVideo_game...
65,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Programming_language,6362.0,6362,Video_game,4017,4017,Japan,403,Computer_programmingComputer_programProgrammin...
66,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Programming_language,6362.0,6362,Video_game,4017,4017,United_Kingdom,856,Computer_programmingComputer_programProgrammin...

In [47]:
lvl5.head(15)

,1,2,3,4,5,6,7,8,9,10,11,12,pl_from,pl_title,pl_to,13
0,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Japan,403,Computer_programmingComputer_programVideo_game...
1,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,United_Kingdom,856,Computer_programmingComputer_programVideo_game...
2,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,United_States,219587,Computer_programmingComputer_programVideo_game...
3,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Mobile_phone,26786,Computer_programmingComputer_programVideo_game...
4,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Television,1999,Computer_programmingComputer_programVideo_game...
5,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Operating_system,587,Computer_programmingComputer_programVideo_game...
6,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Home_computer,98808,Computer_programmingComputer_programVideo_game...
7,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Electronics,3659,Computer_programmingComputer_programVideo_game...
8,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Microsoft,483,Computer_programmingComputer_programVideo_game...
9,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,3D,7126,Computer_programmingComputer_programVideo_game...
10,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Compact_disc,8026,Computer_programmingComputer_programVideo_game...
11,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Sony,10813,Computer_programmingComputer_programVideo_game...
12,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Tablet_computer,286962,Computer_programmingComputer_programVideo_game...
13,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,DVD,7613,Computer_programmingComputer_programVideo_game...
14,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Video_games,8101.0,8101,Video_game,4017,4017,Mobile_device,86729,Computer_programmingComputer_programVideo_game...

In [48]:
lvl4[lvl4[11] == 'Algorithm']

,1,2,3,4,5,6,7,8,9,10,11,12
2222,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Computer_science,110.0,110,Algorithm,170677
2303,747593,Computer_programming,31531,31531,Language,419,419.0,Computer_science,110.0,110,Algorithm,170677
2384,747593,Computer_programming,31531,31531,Instruction_(computer_science),139324,139324.0,Computer_science,110.0,110,Algorithm,170677
2465,747593,Computer_programming,31531,31531,Interpreter_(computing),71502,71502.0,Computer_science,110.0,110,Algorithm,170677
2546,747593,Statistics,789,789,Science,700,700.0,Computer_science,110.0,110,Algorithm,170677
2627,747593,Statistics,789,789,IBM,23439,23439.0,Computer_science,110.0,110,Algorithm,170677
2708,747593,Statistics,789,789,Information,3609,3609.0,Computer_science,110.0,110,Algorithm,170677
2789,747593,Statistics,789,789,Psychology,6204,6204.0,Computer_science,110.0,110,Algorithm,170677
14910,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Logic,4069.0,4069,Algorithm,170677
14941,747593,Computer_programming,31531,31531,Language,419,419.0,Logic,4069.0,4069,Algorithm,170677
14972,747593,Statistics,789,789,Science,700,700.0,Logic,4069.0,4069,Algorithm,170677
16688,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Numerical_analysis,334165.0,334165,Algorithm,170677
16748,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Numerical_analysis,334165.0,334165,Algorithm,170677
16808,747593,Statistics,789,789,MATLAB,762362,762362.0,Numerical_analysis,334165.0,334165,Algorithm,170677
17358,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Python_(programming_language),44678.0,44678,Algorithm,170677
17411,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Python_(programming_language),44678.0,44678,Algorithm,170677
17825,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17881,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17937,747593,Statistics,789,789,R_(programming_language),774203,774203.0,Programming_paradigm,368829.0,368829,Algorithm,170677
17993,747593,Statistics,789,789,MATLAB,762362,762362.0,Programming_paradigm,368829.0,368829,Algorithm,170677
28780,747593,Computer_programming,31531,31531,Computer_memory,82076,82076.0,Code,27592.0,27592,Algorithm,170677
28795,747593,Computer_programming,31531,31531,Software_bug,61917,61917.0,Code,27592.0,27592,Algorithm,170677
40965,747593,Data,2958,2958,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,170677
40989,747593,Statistics,789,789,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,170677
73802,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,Algebra,45.0,45,Algorithm,170677
73857,747593,Statistics,789,789,Gerolamo_Cardano,103108,103108.0,Algebra,45.0,45,Algorithm,170677
78189,747593,Statistics,789,789,Division_(mathematics),56429,56429.0,Long_division,739694.0,739694,Algorithm,170677
95041,747593,Statistics,789,789,Psychology,6204,6204.0,Evolution,8740.0,8740,Algorithm,170677
104156,747593,Statistics,789,789,MATLAB,762362,762362.0,Machine_learning,564928.0,564928,Algorithm,170677
104315,747593,Statistics,789,789,Mean,32523,32523.0,Frequency_distribution,66398.0,66398,Algorithm,170677
105645,747593,Statistics,789,789,Standard_deviation,53612,53612.0,Random,14534.0,14534,Algorithm,170677

In [49]:
lvl4[12] = lvl4[2]+lvl4[5]+lvl4[8]+lvl4[11]

### Задание 3 и 4
Минимальный путь лежит из Logic, его длина 29

In [50]:
lvl4[(lvl4[11] == 'Algorithm')]

,1,2,3,4,5,6,7,8,9,10,11,12
2222,747593,Computer_programming,31531,31531,Computer_program,2957,2957.0,Computer_science,110.0,110,Algorithm,Computer_programmingComputer_programComputer_s...
2303,747593,Computer_programming,31531,31531,Language,419,419.0,Computer_science,110.0,110,Algorithm,Computer_programmingLanguageComputer_scienceAl...
2384,747593,Computer_programming,31531,31531,Instruction_(computer_science),139324,139324.0,Computer_science,110.0,110,Algorithm,Computer_programmingInstruction_(computer_scie...
2465,747593,Computer_programming,31531,31531,Interpreter_(computing),71502,71502.0,Computer_science,110.0,110,Algorithm,Computer_programmingInterpreter_(computing)Com...
2546,747593,Statistics,789,789,Science,700,700.0,Computer_science,110.0,110,Algorithm,StatisticsScienceComputer_scienceAlgorithm
2627,747593,Statistics,789,789,IBM,23439,23439.0,Computer_science,110.0,110,Algorithm,StatisticsIBMComputer_scienceAlgorithm
2708,747593,Statistics,789,789,Information,3609,3609.0,Computer_science,110.0,110,Algorithm,StatisticsInformationComputer_scienceAlgorithm
2789,747593,Statistics,789,789,Psychology,6204,6204.0,Computer_science,110.0,110,Algorithm,StatisticsPsychologyComputer_scienceAlgorithm
14910,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Logic,4069.0,4069,Algorithm,Computer_programmingProgramming_languageLogicA...
14941,747593,Computer_programming,31531,31531,Language,419,419.0,Logic,4069.0,4069,Algorithm,Computer_programmingLanguageLogicAlgorithm
14972,747593,Statistics,789,789,Science,700,700.0,Logic,4069.0,4069,Algorithm,StatisticsScienceLogicAlgorithm
16688,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Numerical_analysis,334165.0,334165,Algorithm,Computer_programmingProgramming_languageNumeri...
16748,747593,Statistics,789,789,Applied_mathematics,131378,131378.0,Numerical_analysis,334165.0,334165,Algorithm,StatisticsApplied_mathematicsNumerical_analysi...
16808,747593,Statistics,789,789,MATLAB,762362,762362.0,Numerical_analysis,334165.0,334165,Algorithm,StatisticsMATLABNumerical_analysisAlgorithm
17358,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Python_(programming_language),44678.0,44678,Algorithm,Computer_programmingProgramming_languagePython...
17411,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Python_(programming_language),44678.0,44678,Algorithm,Computer_programmingPerlPython_(programming_la...
17825,747593,Computer_programming,31531,31531,Programming_language,6362,6362.0,Programming_paradigm,368829.0,368829,Algorithm,Computer_programmingProgramming_languageProgra...
17881,747593,Computer_programming,31531,31531,Perl,33786,33786.0,Programming_paradigm,368829.0,368829,Algorithm,Computer_programmingPerlProgramming_paradigmAl...
17937,747593,Statistics,789,789,R_(programming_language),774203,774203.0,Programming_paradigm,368829.0,368829,Algorithm,StatisticsR_(programming_language)Programming_...
17993,747593,Statistics,789,789,MATLAB,762362,762362.0,Programming_paradigm,368829.0,368829,Algorithm,StatisticsMATLABProgramming_paradigmAlgorithm
28780,747593,Computer_programming,31531,31531,Computer_memory,82076,82076.0,Code,27592.0,27592,Algorithm,Computer_programmingComputer_memoryCodeAlgorithm
28795,747593,Computer_programming,31531,31531,Software_bug,61917,61917.0,Code,27592.0,27592,Algorithm,Computer_programmingSoftware_bugCodeAlgorithm
40965,747593,Data,2958,2958,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,DataNumberSerial_numberAlgorithm
40989,747593,Statistics,789,789,Number,528,528.0,Serial_number,157665.0,157665,Algorithm,StatisticsNumberSerial_numberAlgorithm
73802,747593,Statistics,789,789,Ancient_Egypt,15034,15034.0,Algebra,45.0,45,Algorithm,StatisticsAncient_EgyptAlgebraAlgorithm
73857,747593,Statistics,789,789,Gerolamo_Cardano,103108,103108.0,Algebra,45.0,45,Algorithm,StatisticsGerolamo_CardanoAlgebraAlgorithm
78189,747593,Statistics,789,789,Division_(mathematics),56429,56429.0,Long_division,739694.0,739694,Algorithm,StatisticsDivision_(mathematics)Long_divisionA...
95041,747593,Statistics,789,789,Psychology,6204,6204.0,Evolution,8740.0,8740,Algorithm,StatisticsPsychologyEvolutionAlgorithm
104156,747593,Statistics,789,789,MATLAB,762362,762362.0,Machine_learning,564928.0,564928,Algorithm,StatisticsMATLABMachine_learningAlgorithm
104315,747593,Statistics,789,789,Mean,32523,32523.0,Frequency_distribution,66398.0,66398,Algorithm,StatisticsMeanFrequency_distributionAlgorithm
105645,747593,Statistics,789,789,Standard_deviation,53612,53612.0,Random,14534.0,14534,Algorithm,StatisticsStandard_deviationRandomAlgorithm

In [51]:
l = lvl4.iloc[:,-2]
l[l == 'Algorithm']

2222      Algorithm
2303      Algorithm
2384      Algorithm
2465      Algorithm
2546      Algorithm
2627      Algorithm
2708      Algorithm
2789      Algorithm
14910     Algorithm
14941     Algorithm
14972     Algorithm
16688     Algorithm
16748     Algorithm
16808     Algorithm
17358     Algorithm
17411     Algorithm
17825     Algorithm
17881     Algorithm
17937     Algorithm
17993     Algorithm
28780     Algorithm
28795     Algorithm
40965     Algorithm
40989     Algorithm
73802     Algorithm
73857     Algorithm
78189     Algorithm
95041     Algorithm
104156    Algorithm
104315    Algorithm
105645    Algorithm
Name: 11, dtype: object

In [52]:
lvl5 = lvl5[(lvl5[2]!='Computer_programming') ]